.clickable {
  cursor: pointer;
}

table {
  margin-top: 20px;
  padding: 10px;

  td {
    border: 1px solid gray;
    padding: 5px;
  }
  th {
    background-color: dodgerblue;
    border: 1px solid black;
    color: white;
  }

  th,
  td {
    text-align: center;
  }
}

input {
  border: 1px solid gray;
  height: 30px;
  width: 170px;
  padding-left: 10px;
}

.input-container {
  margin-left: 10px;
}

.input-container::after {
  content: '🔎';
  position: absolute;
  margin-left: -25px;
  margin-top: 3px;
}
